{% extends "_base.html" %}
{% load static %}
{% block title %} - Home{% endblock title %}


{% block header %}
<div id="showcase">
  <div class="container">
    <div class="showcase-content">
      <h1>The Division 2: Items Database</h1>
    </div>
  </div>
</div>
{% endblock header%}

{% block content %}
<section id="search">
  <div class="input-group">
    <div class="form-outline" data-mdb-input-init>
      <input type="search" id="form1" class="form-control" />
      <label class="form-label" for="form1">Search</label>
    </div>
    <button type="button" class="btn btn-primary" data-mdb-ripple-init>
      <i class="fas fa-search"></i>
    </button>
  </div>
</section>

<section id="features">
  <div class="box bg-secondary">
    <i class="fas fa-gun fa-3x"></i>
    <h3>Weapons</h3>
    <p>A list of Exotics, Weapons, with Talents</p>
  </div>
  <div class="box bg-primary">
    <i class="fas fa-user-shield fa-3x"></i>
    <h3>Gear</h3>
    <p>A list of Exotics, Brands, and Gear Sets, with Talents</p>
  </div>
  <div class="box bg-secondary">
    <i class="fas fa-gears fa-3x"></i>
    <h3>Modifications</h3>
    <p> A List of all Weapon and Skill Modifications, and Attributes</p>
  </div>
  <div class="box bg-primary">
    <i class="fas fa-compass-drafting fa-3x"></i>
    <h3>Blueprints</h3>
    <p> A List of all Blueprints</p>
  </div>
</section>

<div class="clr"></div>


{% endblock %}

{% block script %}
{% endblock %}